# FILE: colorwheel.config           -*-Mode: tcl-*-
#
# mmDisp configuration.  This file must be valid Tcl code.

# This file should only be sourced from within another Tcl application.
# Check to make sure we aren't at the top application level
if {[string match [info script] $argv0]} {
    error "'[info script]' must be evaluated by an mmdisp-style application"
}

# Plot configuration array
array set plot_config {
   arrow,autosample          1
   arrow,colorcount          256
   arrow,colormap            Red-Black-Blue
   arrow,colorphase          0
   arrow,colorreverse        0
   arrow,quantity            z
   arrow,size                1
   arrow,status              0
   arrow,subsample           61
   misc,background           white
   misc,boundarycolor        black
   misc,boundarywidth        0
   misc,datascale            1
   misc,defaultwindowheight  500
   misc,defaultwindowwidth   500
   misc,drawboundary         0
   misc,height               500
   misc,margin               10
   misc,relcenterpt          {0.5009571428571429 0.4990428571428571 0.5}
   misc,rotation             0
   misc,width                500
   misc,zoom                 1.0
   pixel,autosample          0
   pixel,colorcount          256
   pixel,colormap            Red-Green-Blue-Red
   pixel,colorphase          0
   pixel,colorreverse        0
   pixel,opaque              1
   pixel,quantity            xy-angle
   pixel,size                1
   pixel,status              1
   pixel,subsample           0
   viewaxis                  +z
   viewaxis,xarrowspan       {}
   viewaxis,xpixelspan       {}
   viewaxis,yarrowspan       {}
   viewaxis,ypixelspan       {}
   viewaxis,zarrowspan       1.000
   viewaxis,zpixelspan       1.000
}

array set print_config {
   croptoview                1
   hpos                      center
   lmargin                   1.0
   orient                    landscape
   paper                     letter
   pheight                   5.494
   pwidth                    6.0
   tmargin                   1.0
   units                     in
   vpos                      center
}
