# FILE: errorstripe.config           -*-Mode: tcl-*-
#
# mmDisp configuration.  This file must be valid Tcl code.

# This file should only be sourced from within another Tcl application.
# Check to make sure we aren't at the top application level
if {[string match [info script] $argv0]} {
    error "'[info script]' must be evaluated by an mmdisp-style application"
}

# Plot configuration array
array set plot_config {
   arrow,antialias           1
   arrow,autosample          0
   arrow,colorcount          64
   arrow,colormap            HighContrastGray
   arrow,colorphase          0
   arrow,colorreverse        0
   arrow,quantity            x
   arrow,size                1
   arrow,status              0
   arrow,subsample           15
   arrow,outlinewidth        1.0
   arrow,outlinecolor        black
   misc,background           white
   misc,boundarycolor        black
   misc,boundarywidth        5
   misc,datascale            1
   misc,defaultwindowheight  480
   misc,defaultwindowwidth   640
   misc,drawboundary         1
   misc,height               424
   misc,margin               10
   misc,relcenterpt          {0.5 0.5 1.0}
   misc,rotation             0
   misc,width                100
   misc,zoom                 4.0
   pixel,autosample          0
   pixel,colorcount          16384
   pixel,colormap            Blue-White-Red
   pixel,colorphase          0
   pixel,colorreverse        0
   pixel,opaque              1
   pixel,quantity            x
   pixel,size                1
   pixel,status              1
   pixel,subsample           0
   viewaxis                  +z
   viewaxis,xarrowspan       {}
   viewaxis,xpixelspan       {}
   viewaxis,yarrowspan       {}
   viewaxis,ypixelspan       {}
   viewaxis,zarrowspan       1.400e-9
   viewaxis,zpixelspan       1.400e-9
}

array set print_config {
   croptoview                1
   hpos                      center
   lmargin                   1.0
   orient                    landscape
   paper                     letter
   pheight                   4.556
   pwidth                    6.0
   tmargin                   1.0
   units                     in
   vpos                      center
}

# For avf2ps, convert to bitmap with a postprocessing command like
#   pstopnm -ysize 1800 -xborder 0 -yborder 0 -stdout \
#   errorstripe-spin-7A-relaxed-subsampled.eps \
#     | pamflip -cw | ppmquant 256 | ppmtogif \
#   > errorstripe-spin-7A-relaxed-subsampled-tryb.gif

# For avf2ppm, convert to GIF with a command like
#   tclsh oommf.cl avf2ppm -config errorstripe-spin-7A.config -f \
#   -filter 'pnmquant -spreadluminosity -meancolor 255 | ppmtogif' \
#   -opatsub .gif errorstripe-spin-7A-relaxed-subsampled.omf
