# Default color names known by Nb_GetColor.  All symbolic name entries
# in this file should be in lowercase with no whitespace.  Case and
# whitespace are ignored on names compared to the database.  The triplet
# associated with each name are rgb values, in hex, from the range 0-FF.
#
# In addition to these symbolic names, Nb_GetColor also interprets
# strings of the form #RGB, #RRGGBB, #RRRGGGBBB and #RRRRGGGGBBBB,
# where each R, G or B represents a hex digit (0-9 or A-F).
#
# Nb_GetColor also understands the special strings grayD and greyD,
# where D is a decimal integer from 0-100, inclusive.
#
# Compare to the Tk color documentation for these latter cases.
#
array set nbcolordatabase {
   aliceblue                { F0 F8 FF }
   antiquewhite             { FA EB D7 }
   antiquewhite1            { FF EF DB }
   antiquewhite2            { EE DF CC }
   antiquewhite3            { CD C0 B0 }
   antiquewhite4            { 8B 83 78 }
   aquamarine               { 7F FF D4 }
   aquamarine1              { 7F FF D4 }
   aquamarine2              { 76 EE C6 }
   aquamarine3              { 66 CD AA }
   aquamarine4              { 45 8B 74 }
   azure                    { F0 FF FF }
   azure1                   { F0 FF FF }
   azure2                   { E0 EE EE }
   azure3                   { C1 CD CD }
   azure4                   { 83 8B 8B }
   beige                    { F5 F5 DC }
   bisque                   { FF E4 C4 }
   bisque1                  { FF E4 C4 }
   bisque2                  { EE D5 B7 }
   bisque3                  { CD B7 9E }
   bisque4                  { 8B 7D 6B }
   black                    {  0  0  0 }
   blanchedalmond           { FF EB CD }
   blue                     {  0  0 FF }
   blue1                    {  0  0 FF }
   blue2                    {  0  0 EE }
   blue3                    {  0  0 CD }
   blue4                    {  0  0 8B }
   blueviolet               { 8A 2B E2 }
   brown                    { A5 2A 2A }
   brown1                   { FF 40 40 }
   brown2                   { EE 3B 3B }
   brown3                   { CD 33 33 }
   brown4                   { 8B 23 23 }
   burlywood                { DE B8 87 }
   burlywood1               { FF D3 9B }
   burlywood2               { EE C5 91 }
   burlywood3               { CD AA 7D }
   burlywood4               { 8B 73 55 }
   cadetblue                { 5F 9E A0 }
   cadetblue1               { 98 F5 FF }
   cadetblue2               { 8E E5 EE }
   cadetblue3               { 7A C5 CD }
   cadetblue4               { 53 86 8B }
   chartreuse               { 7F FF  0 }
   chartreuse1              { 7F FF  0 }
   chartreuse2              { 76 EE  0 }
   chartreuse3              { 66 CD  0 }
   chartreuse4              { 45 8B  0 }
   chocolate                { D2 69 1E }
   chocolate1               { FF 7F 24 }
   chocolate2               { EE 76 21 }
   chocolate3               { CD 66 1D }
   chocolate4               { 8B 45 13 }
   coral                    { FF 7F 50 }
   coral1                   { FF 72 56 }
   coral2                   { EE 6A 50 }
   coral3                   { CD 5B 45 }
   coral4                   { 8B 3E 2F }
   cornflowerblue           { 64 95 ED }
   cornsilk                 { FF F8 DC }
   cornsilk1                { FF F8 DC }
   cornsilk2                { EE E8 CD }
   cornsilk3                { CD C8 B1 }
   cornsilk4                { 8B 88 78 }
   cyan                     {  0 FF FF }
   cyan1                    {  0 FF FF }
   cyan2                    {  0 EE EE }
   cyan3                    {  0 CD CD }
   cyan4                    {  0 8B 8B }
   darkblue                 {  0  0 8B }
   darkcyan                 {  0 8B 8B }
   darkgoldenrod            { B8 86  B }
   darkgoldenrod1           { FF B9  F }
   darkgoldenrod2           { EE AD  E }
   darkgoldenrod3           { CD 95  C }
   darkgoldenrod4           { 8B 65  8 }
   darkgray                 { A9 A9 A9 }
   darkgreen                {  0 64  0 }
   darkgrey                 { A9 A9 A9 }
   darkkhaki                { BD B7 6B }
   darkmagenta              { 8B  0 8B }
   darkolivegreen           { 55 6B 2F }
   darkolivegreen1          { CA FF 70 }
   darkolivegreen2          { BC EE 68 }
   darkolivegreen3          { A2 CD 5A }
   darkolivegreen4          { 6E 8B 3D }
   darkorange               { FF 8C  0 }
   darkorange1              { FF 7F  0 }
   darkorange2              { EE 76  0 }
   darkorange3              { CD 66  0 }
   darkorange4              { 8B 45  0 }
   darkorchid               { 99 32 CC }
   darkorchid1              { BF 3E FF }
   darkorchid2              { B2 3A EE }
   darkorchid3              { 9A 32 CD }
   darkorchid4              { 68 22 8B }
   darkred                  { 8B  0  0 }
   darksalmon               { E9 96 7A }
   darkseagreen             { 8F BC 8F }
   darkseagreen1            { C1 FF C1 }
   darkseagreen2            { B4 EE B4 }
   darkseagreen3            { 9B CD 9B }
   darkseagreen4            { 69 8B 69 }
   darkslateblue            { 48 3D 8B }
   darkslategray            { 2F 4F 4F }
   darkslategray1           { 97 FF FF }
   darkslategray2           { 8D EE EE }
   darkslategray3           { 79 CD CD }
   darkslategray4           { 52 8B 8B }
   darkslategrey            { 2F 4F 4F }
   darkturquoise            {  0 CE D1 }
   darkviolet               { 94  0 D3 }
   deeppink                 { FF 14 93 }
   deeppink1                { FF 14 93 }
   deeppink2                { EE 12 89 }
   deeppink3                { CD 10 76 }
   deeppink4                { 8B  A 50 }
   deepskyblue              {  0 BF FF }
   deepskyblue1             {  0 BF FF }
   deepskyblue2             {  0 B2 EE }
   deepskyblue3             {  0 9A CD }
   deepskyblue4             {  0 68 8B }
   dimgray                  { 69 69 69 }
   dimgrey                  { 69 69 69 }
   dodgerblue               { 1E 90 FF }
   dodgerblue1              { 1E 90 FF }
   dodgerblue2              { 1C 86 EE }
   dodgerblue3              { 18 74 CD }
   dodgerblue4              { 10 4E 8B }
   firebrick                { B2 22 22 }
   firebrick1               { FF 30 30 }
   firebrick2               { EE 2C 2C }
   firebrick3               { CD 26 26 }
   firebrick4               { 8B 1A 1A }
   floralwhite              { FF FA F0 }
   forestgreen              { 22 8B 22 }
   gainsboro                { DC DC DC }
   ghostwhite               { F8 F8 FF }
   gold                     { FF D7  0 }
   gold1                    { FF D7  0 }
   gold2                    { EE C9  0 }
   gold3                    { CD AD  0 }
   gold4                    { 8B 75  0 }
   goldenrod                { DA A5 20 }
   goldenrod1               { FF C1 25 }
   goldenrod2               { EE B4 22 }
   goldenrod3               { CD 9B 1D }
   goldenrod4               { 8B 69 14 }
   gray                     { BE BE BE }
   green                    {  0 FF  0 }
   green1                   {  0 FF  0 }
   green2                   {  0 EE  0 }
   green3                   {  0 CD  0 }
   green4                   {  0 8B  0 }
   greenyellow              { AD FF 2F }
   grey                     { BE BE BE }
   honeydew                 { F0 FF F0 }
   honeydew1                { F0 FF F0 }
   honeydew2                { E0 EE E0 }
   honeydew3                { C1 CD C1 }
   honeydew4                { 83 8B 83 }
   hotpink                  { FF 69 B4 }
   hotpink1                 { FF 6E B4 }
   hotpink2                 { EE 6A A7 }
   hotpink3                 { CD 60 90 }
   hotpink4                 { 8B 3A 62 }
   indianred                { CD 5C 5C }
   indianred1               { FF 6A 6A }
   indianred2               { EE 63 63 }
   indianred3               { CD 55 55 }
   indianred4               { 8B 3A 3A }
   ivory                    { FF FF F0 }
   ivory1                   { FF FF F0 }
   ivory2                   { EE EE E0 }
   ivory3                   { CD CD C1 }
   ivory4                   { 8B 8B 83 }
   khaki                    { F0 E6 8C }
   khaki1                   { FF F6 8F }
   khaki2                   { EE E6 85 }
   khaki3                   { CD C6 73 }
   khaki4                   { 8B 86 4E }
   lavender                 { E6 E6 FA }
   lavenderblush            { FF F0 F5 }
   lavenderblush1           { FF F0 F5 }
   lavenderblush2           { EE E0 E5 }
   lavenderblush3           { CD C1 C5 }
   lavenderblush4           { 8B 83 86 }
   lawngreen                { 7C FC  0 }
   lemonchiffon             { FF FA CD }
   lemonchiffon1            { FF FA CD }
   lemonchiffon2            { EE E9 BF }
   lemonchiffon3            { CD C9 A5 }
   lemonchiffon4            { 8B 89 70 }
   lightblue                { AD D8 E6 }
   lightblue1               { BF EF FF }
   lightblue2               { B2 DF EE }
   lightblue3               { 9A C0 CD }
   lightblue4               { 68 83 8B }
   lightcoral               { F0 80 80 }
   lightcyan                { E0 FF FF }
   lightcyan1               { E0 FF FF }
   lightcyan2               { D1 EE EE }
   lightcyan3               { B4 CD CD }
   lightcyan4               { 7A 8B 8B }
   lightgoldenrod           { EE DD 82 }
   lightgoldenrod1          { FF EC 8B }
   lightgoldenrod2          { EE DC 82 }
   lightgoldenrod3          { CD BE 70 }
   lightgoldenrod4          { 8B 81 4C }
   lightgoldenrodyellow     { FA FA D2 }
   lightgray                { D3 D3 D3 }
   lightgreen               { 90 EE 90 }
   lightgrey                { D3 D3 D3 }
   lightpink                { FF B6 C1 }
   lightpink1               { FF AE B9 }
   lightpink2               { EE A2 AD }
   lightpink3               { CD 8C 95 }
   lightpink4               { 8B 5F 65 }
   lightsalmon              { FF A0 7A }
   lightsalmon1             { FF A0 7A }
   lightsalmon2             { EE 95 72 }
   lightsalmon3             { CD 81 62 }
   lightsalmon4             { 8B 57 42 }
   lightseagreen            { 20 B2 AA }
   lightskyblue             { 87 CE FA }
   lightskyblue1            { B0 E2 FF }
   lightskyblue2            { A4 D3 EE }
   lightskyblue3            { 8D B6 CD }
   lightskyblue4            { 60 7B 8B }
   lightslateblue           { 84 70 FF }
   lightslategray           { 77 88 99 }
   lightslategrey           { 77 88 99 }
   lightsteelblue           { B0 C4 DE }
   lightsteelblue1          { CA E1 FF }
   lightsteelblue2          { BC D2 EE }
   lightsteelblue3          { A2 B5 CD }
   lightsteelblue4          { 6E 7B 8B }
   lightyellow              { FF FF E0 }
   lightyellow1             { FF FF E0 }
   lightyellow2             { EE EE D1 }
   lightyellow3             { CD CD B4 }
   lightyellow4             { 8B 8B 7A }
   limegreen                { 32 CD 32 }
   linen                    { FA F0 E6 }
   magenta                  { FF  0 FF }
   magenta1                 { FF  0 FF }
   magenta2                 { EE  0 EE }
   magenta3                 { CD  0 CD }
   magenta4                 { 8B  0 8B }
   maroon                   { B0 30 60 }
   maroon1                  { FF 34 B3 }
   maroon2                  { EE 30 A7 }
   maroon3                  { CD 29 90 }
   maroon4                  { 8B 1C 62 }
   mediumaquamarine         { 66 CD AA }
   mediumblue               {  0  0 CD }
   mediumorchid             { BA 55 D3 }
   mediumorchid1            { E0 66 FF }
   mediumorchid2            { D1 5F EE }
   mediumorchid3            { B4 52 CD }
   mediumorchid4            { 7A 37 8B }
   mediumpurple             { 93 70 DB }
   mediumpurple1            { AB 82 FF }
   mediumpurple2            { 9F 79 EE }
   mediumpurple3            { 89 68 CD }
   mediumpurple4            { 5D 47 8B }
   mediumseagreen           { 3C B3 71 }
   mediumslateblue          { 7B 68 EE }
   mediumspringgreen        {  0 FA 9A }
   mediumturquoise          { 48 D1 CC }
   mediumvioletred          { C7 15 85 }
   midnightblue             { 19 19 70 }
   mintcream                { F5 FF FA }
   mistyrose                { FF E4 E1 }
   mistyrose1               { FF E4 E1 }
   mistyrose2               { EE D5 D2 }
   mistyrose3               { CD B7 B5 }
   mistyrose4               { 8B 7D 7B }
   moccasin                 { FF E4 B5 }
   navajowhite              { FF DE AD }
   navajowhite1             { FF DE AD }
   navajowhite2             { EE CF A1 }
   navajowhite3             { CD B3 8B }
   navajowhite4             { 8B 79 5E }
   navy                     {  0  0 80 }
   navyblue                 {  0  0 80 }
   oldlace                  { FD F5 E6 }
   olivedrab                { 6B 8E 23 }
   olivedrab1               { C0 FF 3E }
   olivedrab2               { B3 EE 3A }
   olivedrab3               { 9A CD 32 }
   olivedrab4               { 69 8B 22 }
   orange                   { FF A5  0 }
   orange1                  { FF A5  0 }
   orange2                  { EE 9A  0 }
   orange3                  { CD 85  0 }
   orange4                  { 8B 5A  0 }
   orangered                { FF 45  0 }
   orangered1               { FF 45  0 }
   orangered2               { EE 40  0 }
   orangered3               { CD 37  0 }
   orangered4               { 8B 25  0 }
   orchid                   { DA 70 D6 }
   orchid1                  { FF 83 FA }
   orchid2                  { EE 7A E9 }
   orchid3                  { CD 69 C9 }
   orchid4                  { 8B 47 89 }
   palegoldenrod            { EE E8 AA }
   palegreen                { 98 FB 98 }
   palegreen1               { 9A FF 9A }
   palegreen2               { 90 EE 90 }
   palegreen3               { 7C CD 7C }
   palegreen4               { 54 8B 54 }
   paleturquoise            { AF EE EE }
   paleturquoise1           { BB FF FF }
   paleturquoise2           { AE EE EE }
   paleturquoise3           { 96 CD CD }
   paleturquoise4           { 66 8B 8B }
   palevioletred            { DB 70 93 }
   palevioletred1           { FF 82 AB }
   palevioletred2           { EE 79 9F }
   palevioletred3           { CD 68 89 }
   palevioletred4           { 8B 47 5D }
   papayawhip               { FF EF D5 }
   peachpuff                { FF DA B9 }
   peachpuff1               { FF DA B9 }
   peachpuff2               { EE CB AD }
   peachpuff3               { CD AF 95 }
   peachpuff4               { 8B 77 65 }
   peru                     { CD 85 3F }
   pink                     { FF C0 CB }
   pink1                    { FF B5 C5 }
   pink2                    { EE A9 B8 }
   pink3                    { CD 91 9E }
   pink4                    { 8B 63 6C }
   plum                     { DD A0 DD }
   plum1                    { FF BB FF }
   plum2                    { EE AE EE }
   plum3                    { CD 96 CD }
   plum4                    { 8B 66 8B }
   powderblue               { B0 E0 E6 }
   purple                   { A0 20 F0 }
   purple1                  { 9B 30 FF }
   purple2                  { 91 2C EE }
   purple3                  { 7D 26 CD }
   purple4                  { 55 1A 8B }
   red                      { FF  0  0 }
   red1                     { FF  0  0 }
   red2                     { EE  0  0 }
   red3                     { CD  0  0 }
   red4                     { 8B  0  0 }
   rosybrown                { BC 8F 8F }
   rosybrown1               { FF C1 C1 }
   rosybrown2               { EE B4 B4 }
   rosybrown3               { CD 9B 9B }
   rosybrown4               { 8B 69 69 }
   royalblue                { 41 69 E1 }
   royalblue1               { 48 76 FF }
   royalblue2               { 43 6E EE }
   royalblue3               { 3A 5F CD }
   royalblue4               { 27 40 8B }
   saddlebrown              { 8B 45 13 }
   salmon                   { FA 80 72 }
   salmon1                  { FF 8C 69 }
   salmon2                  { EE 82 62 }
   salmon3                  { CD 70 54 }
   salmon4                  { 8B 4C 39 }
   sandybrown               { F4 A4 60 }
   seagreen                 { 2E 8B 57 }
   seagreen1                { 54 FF 9F }
   seagreen2                { 4E EE 94 }
   seagreen3                { 43 CD 80 }
   seagreen4                { 2E 8B 57 }
   seashell                 { FF F5 EE }
   seashell1                { FF F5 EE }
   seashell2                { EE E5 DE }
   seashell3                { CD C5 BF }
   seashell4                { 8B 86 82 }
   sienna                   { A0 52 2D }
   sienna1                  { FF 82 47 }
   sienna2                  { EE 79 42 }
   sienna3                  { CD 68 39 }
   sienna4                  { 8B 47 26 }
   skyblue                  { 87 CE EB }
   skyblue1                 { 87 CE FF }
   skyblue2                 { 7E C0 EE }
   skyblue3                 { 6C A6 CD }
   skyblue4                 { 4A 70 8B }
   slateblue                { 6A 5A CD }
   slateblue1               { 83 6F FF }
   slateblue2               { 7A 67 EE }
   slateblue3               { 69 59 CD }
   slateblue4               { 47 3C 8B }
   slategray                { 70 80 90 }
   slategray1               { C6 E2 FF }
   slategray2               { B9 D3 EE }
   slategray3               { 9F B6 CD }
   slategray4               { 6C 7B 8B }
   slategrey                { 70 80 90 }
   snow                     { FF FA FA }
   snow1                    { FF FA FA }
   snow2                    { EE E9 E9 }
   snow3                    { CD C9 C9 }
   snow4                    { 8B 89 89 }
   springgreen              {  0 FF 7F }
   springgreen1             {  0 FF 7F }
   springgreen2             {  0 EE 76 }
   springgreen3             {  0 CD 66 }
   springgreen4             {  0 8B 45 }
   steelblue                { 46 82 B4 }
   steelblue1               { 63 B8 FF }
   steelblue2               { 5C AC EE }
   steelblue3               { 4F 94 CD }
   steelblue4               { 36 64 8B }
   tan                      { D2 B4 8C }
   tan1                     { FF A5 4F }
   tan2                     { EE 9A 49 }
   tan3                     { CD 85 3F }
   tan4                     { 8B 5A 2B }
   thistle                  { D8 BF D8 }
   thistle1                 { FF E1 FF }
   thistle2                 { EE D2 EE }
   thistle3                 { CD B5 CD }
   thistle4                 { 8B 7B 8B }
   tomato                   { FF 63 47 }
   tomato1                  { FF 63 47 }
   tomato2                  { EE 5C 42 }
   tomato3                  { CD 4F 39 }
   tomato4                  { 8B 36 26 }
   turquoise                { 40 E0 D0 }
   turquoise1               {  0 F5 FF }
   turquoise2               {  0 E5 EE }
   turquoise3               {  0 C5 CD }
   turquoise4               {  0 86 8B }
   violet                   { EE 82 EE }
   violetred                { D0 20 90 }
   violetred1               { FF 3E 96 }
   violetred2               { EE 3A 8C }
   violetred3               { CD 32 78 }
   violetred4               { 8B 22 52 }
   wheat                    { F5 DE B3 }
   wheat1                   { FF E7 BA }
   wheat2                   { EE D8 AE }
   wheat3                   { CD BA 96 }
   wheat4                   { 8B 7E 66 }
   white                    { FF FF FF }
   whitesmoke               { F5 F5 F5 }
   yellow                   { FF FF  0 }
   yellow1                  { FF FF  0 }
   yellow2                  { EE EE  0 }
   yellow3                  { CD CD  0 }
   yellow4                  { 8B 8B  0 }
   yellowgreen              { 9A CD 32 }
}
