# FILE: avf2ppm.config              -*-Mode: tcl-*-
#
# Default setup for avftoppm.  This file must be valid Tcl code.

# This file should only be sourced from within another Tcl application.
# Check to make sure we aren't at the top application level
if {[string match [info script] $argv0]} {
    error "'[info script]' must be evaluated by an mmdisp-style application"
}

# Default plot configuration array
array set plot_config {
    arrow,status       1
    arrow,antialias    1
    arrow,outlinewidth 0.0
    arrow,outlinecolor #000000
    arrow,colormap     Red-Black-Blue
    arrow,colorcount   100
    arrow,quantity     z
    arrow,colorphase   0
    arrow,colorreverse 0
    arrow,autosample   1
    arrow,subsample    10
    arrow,size         1
    arrow,viewscale    1
    pixel,status       1
    pixel,colormap     Teal-White-Red
    pixel,colorcount   100
    pixel,opaque       1
    pixel,quantity     x
    pixel,colorphase   0
    pixel,colorreverse 0
    pixel,autosample   1
    pixel,subsample    0
    pixel,size         1
    misc,background    #FFFFFF
    misc,drawboundary  1
    misc,boundarywidth 1
    misc,boundarycolor #000000
    misc,boundarypos   front
    misc,matwidth      0
    misc,matcolor      #FFFFFF
    misc,margin        10
    misc,width         640
    misc,height        480
    misc,crop          1
    misc,zoom          0
    misc,rotation      0
    misc,datascale     0
    misc,relcenterpt   {0.5 0.5 0.5}
    viewaxis            +z
    viewaxis,xarrowspan {}
    viewaxis,xpixelspan {}
    viewaxis,yarrowspan {}
    viewaxis,ypixelspan {}
    viewaxis,zarrowspan {}
    viewaxis,zpixelspan {}
}

# Source in local/avf2ppm.config file, if it exists
set fn [file join [file dirname \
	[Oc_DirectPathname [info script]]] local avf2ppm.config]
if {[file readable $fn]} {
    if {[catch {source $fn} msg]} {
        global errorInfo errorCode
	set msg [join [split $msg \n] \n\t]
	error "Error sourcing local options file:\n    $fn:\n\t$msg" \
		$errorInfo $errorCode
    }
}
